name: Automated Testing

on:
  push:

permissions:
  contents: read

jobs:
  Ubuntu:
    runs-on: arc-runner-set

    strategy:
      matrix:
        version: ["3.11"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.version }}
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install virtualenv
        virtualenv venv
        source venv/bin/activate
        pip install pytest
        pip install -r requirements.txt
        pip install -e .

    - name: Run Testing Framework
      run: |
        source venv/bin/activate
        pytest -v 